## aliases

# dir stuff
alias la="ls -laph"
# alias gw="ssh <gateway server>"
alias lssymln="ls -l ~/.*|grep '\->'"
alias dfp='df -hP . | tail -1'

#backup
## TODO : Install local Dropbox (?)
#alias backup-library='rsync  -av  --stats ~/Library ~/Dropbox/Library-$(date +%s)'

# git
alias glog='git log --decorate --color --graph'
alias gloga='glog --author=cgutierrez'
alias gstat='git status' 
alias gsquash='git rebase -i HEAD~'  # don't forget to serve parm LINES - # of commits back in squash
alias gpush='git push --rebase'
alias gpushum='gpush upstream master'

# grep
alias grep='grep --color=auto'
alias egrep='grep --color=auto'
alias fgrep='fgrep --color=auto'

# misc
alias vi='vim'
alias updvim='vim -u ~/.vim/.vimrc +BundleInstall! +q'
alias norris='echo "    \\  Chuck Norris never goes to the dentist because his teeth are unbreakable. \\
             His enemies never go to the dentist because they have no teeth."'

# python
alias ipy="ipython" # /Users/christinagutierrez/.virtualenvs/ds/bin/ipython
alias ipyng='ipython_nogui' # run ipython w/out event loops (a.k.a. "guis" in weird ipython parlance) path /"/"/"/"/"/ipython_nogui
# alias ipynb='ipyng notebook' # recall : 'gui' is iPython nickname for event loop
alias ipynb='ipyng notebook --pylab=inline' # enable graphics usage w/in Notebook
alias ipyconlink='ipyng console --existing' # link ipython console session with open NB session

#PYTHONPATH=~/my_venv:$PYTHONPATH

